/* Home.css */

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
  /* Ajusta la altura al 70% para que las tarjetas estén un poco más arriba */
  padding-top: 5vh;
  /* Agrega espacio superior para centrar visualmente */
}

.row {
  justify-content: space-between;
  /* Distribuye el espacio entre las tarjetas */
  gap: 20px;
  /* Agrega espacio entre las tarjetas */
}

.card {
  width: 200px;
  height: auto;
  border: none;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Añade un margen inferior para evitar superposición vertical */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  color: #cb6665;
  margin-bottom: 15px;
}

.card-text {
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #cb6665;
  color: #fff;
  width: 80%;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #b25957;
}

/* Estilos para la clase box3 */
.box3 {
  background-color: transparent;
  border: none;
  display: flex;
  flex-wrap: wrap;
  /* Permite que las tarjetas bajen a la siguiente fila si el espacio es insuficiente */
  justify-content: space-evenly;
  /* Distribuye uniformemente las tarjetas en la fila */
  gap: 20px;
  /* Añade espacio entre tarjetas */
}

.icon-user {
  font-size: 3rem;
  color: gray;
  background-color: transparent;
  border: none;
}